html,body{
    height:100%;
}


.ant-carousel-vertical .slick-dots{
	right: 10px !important;
	top: 41% !important;
}
.slick-list{
  height: 100% !important;
}
.slick-track{
    height: 100% !important;
}
.slick-slider{
  height: 100% !important;
}
.ant-carousel.ant-carousel-vertical{
    height: 100.1% !important;

}
.code-box-shape{
  transform: 'translateX(-100px)';
   opacity: 0;
   left: 80px;
   color: white;
}
