.main-desc0{
  position: relative;
  top:425px;
  padding: 40px;

  color: rgba(255,255,255,0.6);
  font-size: 16px;
}
.main-desc1{
  position: relative;
  top:425px;
  left: 40%;
  padding: 40px;

  color: rgba(255,255,255,0.6);
  font-size: 16px;
}
