.main-desc0{
  position: relative;
  top:425px;
  padding: 40px;

  color: rgba(255,255,255,0.85);
  font-size: 16px;
  word-wrap: break-word;
}
.main-desc1{
  position: relative;
  top:425px;
  left: 40%;

  color: rgba(255,255,255,0.85);
  font-size: 16px;

}
.main-desc1 > p{
    word-wrap: break-word;
    width: 50%;
}
